<h1>Create a new product</h1>

<%= form_with scope: :product, url: new_product_path, local: true do  |f| %>
    <p>
        <%= f.label :title %></br>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :description %></br>
        <%= f.text_area :description %>
    </p>
    <p>
        <%= f.submit %>

    </p>

<% end %>